body {
  margin: 0;
  color: #292929;
}

p {
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin: 1em 0;
}

nav {
      height: 60px;
      background: #fff;
      width: 100%;
      max-width: 100%;
      padding-bottom: 0;
      z-index: 6;
      border-bottom: 1px solid #d9d9d9;
      position: relative;
      margin-left: 0;
}

.map-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 61px 0 30px 0;
  z-index: 1;
}



#logo {
  margin: 10px 0 0 15px;
  background-color: red;
  height: 46px;
  width: 170px;
  max-width: 170px;
  color: white;
}

h1 {
  margin: 0;
}

#results-container {
    width: 60%;
    max-width: 485px;
    position: relative;
    top: 60px;
    left: 25px;
    overflow-y: auto;
    z-index: 5;
}

.result-card{
  background: #fff;
  padding: 20px;
  margin-bottom: 20px
}

.search-item-title h3{
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.search-item-counter {
  color: green;
}

.search-image-container {
  margin: 0 -20px 30px;
}

.search-image {
  height: auto;
  display: inline;

}

img.search-image{
  width: 100%;
  max-width: 100%;
}



.search-item-contact-box {}

.search-item-address, .search-item-contact {
    display: inline-block;
    width: 48%;
    padding-bottom: 15px;
    vertical-align: top;
}

.address-line-1, .address-line-2 {
  display: block;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.24;
}

.contact-line-1, .contact-line-2 {
  display: block;
  text-align: right;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.24;
}

.contact-line-1 a {
  color: red;
  text-decoration: none;
}

.contact-line-1 a:hover {
  text-decoration: underline;
}

.search-image-classification {
  padding-bottom: 20px;
}

btn.search-item-directions  {
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 5px;
  margin: 0 auto 10px;
  text-decoration: none;
  background-color: red;
  color: #fff;
  display: block;
  max-width: 105px;
  text-align: center;
}

.search-item-social {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: center;
  list-style-type: none;
}

.search-item-social h4 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.search-item-social ul {
  margin: 0 0 0 15px;
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

.search-item-social li {
  display: inline-block;
}
